*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  transition: background 300ms ease-in-out;
}
body.dark {
  color: #f5f5f7;
  background: #343A40;
}
body.dark #content {
  background-color: #3e444a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 48px;
  height: 100%;
  width: 100%;
  z-index: 1030;
}
header .navbar {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: saturate(180%) blur(20px);
  overflow: hidden;
  padding: 0.25rem 0;
  transition: background 750ms ease-in-out;
}
header .navbar.active {
  transition: all 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  background: rgba(0, 0, 0, 0.92) !important;
}
header .navbar > .container-fluid {
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  header .navbar > .container-fluid {
    justify-content: space-between;
  }
}
header .navbar > .container-fluid .navbar-brand {
  margin: 0;
  transition: color 250ms ease-in-out;
}
header .navbar > .container-fluid #hamburger {
  position: absolute;
  top: 15px;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: 24px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1031;
}
@media screen and (min-width: 768px) {
  header .navbar > .container-fluid #hamburger {
    display: none;
  }
}
header .navbar > .container-fluid #hamburger .hamburger-line {
  position: relative;
  margin: 2.5px 0;
  height: 1px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);
  transition: background 250ms ease-in;
}
header .navbar > .container-fluid #hamburger .hamburger-line.active {
  background: rgba(255, 255, 255, 0.5);
}
header .navbar > .container-fluid .navbar-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  width: 100%;
  visibility: hidden;
  overflow: no-content;
  transition: all 0.36s cubic-bezier(0.32, 0.08, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
}
@media screen and (min-width: 768px) {
  header .navbar > .container-fluid .navbar-nav {
    height: fit-content;
    flex-direction: row;
    width: fit-content;
    visibility: visible;
  }
}
header .navbar > .container-fluid .navbar-nav.active {
  height: 120px;
  padding: 0 24px;
  visibility: visible;
}
header .navbar > .container-fluid .navbar-nav.active .nav-link {
  opacity: 1;
}
header .navbar > .container-fluid .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 300;
  opacity: 0;
  border-bottom: 1px solid #666;
  width: 100%;
  transition: opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s, transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
}
@media screen and (min-width: 768px) {
  header .navbar > .container-fluid .navbar-nav .nav-link {
    opacity: 1;
    border-bottom: none;
    transition: color 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s, transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
  }
  header .navbar > .container-fluid .navbar-nav .nav-link:first-of-type {
    margin-right: 8px;
  }
}
header .navbar > .container-fluid .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.85);
}
header .navbar > .container-fluid .navbar-nav .nav-link.active {
  color: #fff;
}
header .navbar > .container-fluid .navbar-nav .nav-link.active:hover {
  color: #fff;
}

#content {
  padding-top: 64px;
  min-height: 150vh;
  background-color: #fff;
  transition: background 300ms ease-in-out;
}

.form-switch {
  display: flex;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .form-switch {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 0;
  }
  .form-switch > label {
    display: none;
    width: 80px;
  }
}
.form-switch > input {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-size: 1.125rem !important;
  background-image: url("./img/x-circle-fill.svg") !important;
  background-color: #dc3545;
  width: 32px !important;
  border-color: transparent !important;
}
@media screen and (min-width: 768px) {
  .form-switch > input {
    height: fit-content;
    width: 47px !important;
  }
}
.form-switch > input:focus {
  box-shadow: none;
}
.form-switch > input:checked {
  background-image: url("./img/check-fill.svg") !important;
  background-color: #28a745;
}
.form-switch > input:checked::after {
  left: 2px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .form-switch > input:checked::after {
    left: 3px;
  }
}
.form-switch > input::after {
  display: none;
  content: "dark";
  position: relative;
  left: 20px;
  height: 20px;
  width: 43px;
  color: #1D1D1F;
  font-size: 0.75rem;
  line-height: 1.25rem;
  transition: left 150ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .form-switch > input::after {
    display: block;
    line-height: 1.125rem;
  }
}
.form-switch > label {
  font-weight: 300;
  padding-left: 0.25rem;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
